/* Import krojów pisma */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif|VT323&display=swap');

/* Najogólniejsza konfiguracja strony */
body {
    max-width: 1200px;
    margin: 0 auto;
}

/* Najogólniejsza konfiguracja krojów pisma */
h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 24pt;
}

h2 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 18pt;
}

p, a, em {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12pt;
}

/* Konfiguracja CSS Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 8pt;
    padding: 8pt 8pt;
}

.item-header {
    grid-column: 1 / span 6;
    grid-row: auto;
    padding: 8pt 8pt;
    border-style: solid;
    border-width: 2pt;
}

.item-footer {
    grid-column: 1 / span 6;
    grid-row: auto;
    padding: 8pt 8pt;
}

.item-section {
    grid-column: 1 / span 6;
    grid-row: auto;
    padding: 8pt 8pt;
}

.item-content {
    grid-column: 1 / span 6;
    grid-row: auto;
    padding: 8pt 8pt;
}
    
@media (min-width: 1024px) {
    .item-section {
        grid-column: 1 / span 1;
        grid-row: auto;
        padding: 8pt 8pt;
    }

    .item-content {
        grid-column: 2 / span 5;
        grid-row: auto;
        padding: 8pt 8pt;
    }
}

.item-header h1 {
    font-family: 'VT323', monospace;
    font-size: 48pt;
    font-weight: normal;
    text-align: center;
}

.item-header h1 span:nth-child(0) {
    animation: drop-from-above 1s ease-in-out;
    animation-delay: 0ms;
}

.item-header h1 span:nth-child(1) {
    animation: drop-from-above 1s ease-in-out;
    animation-delay: 50ms;
}

.item-header h1 span:nth-child(2) {
    animation: drop-from-above 1s ease-in-out;
    animation-delay: 100ms;
}

.item-header h1 span:nth-child(3) {
    animation: drop-from-above 1s ease-in-out;
    animation-delay: 150ms;
}

.item-header h1 span:nth-child(4) {
    animation: drop-from-above 1s ease-in-out;
    animation-delay: 200ms;
}

.item-header h1 span:nth-child(5) {
    animation: drop-from-above 1s ease-in-out;
    animation-delay: 250ms;
}

.item-header h1 span:nth-child(6) {
    animation: drop-from-above 1s ease-in-out;
    animation-delay: 300ms;
}

.item-header h1 span:nth-child(7) {
    animation: drop-from-above 1s ease-in-out;
    animation-delay: 350ms;
}

.item-header h1 span:nth-child(8) {
    animation: drop-from-above 1s ease-in-out;
    animation-delay: 400ms;
}

.item-header h1 span:nth-child(9) {
    animation: drop-from-above 1s ease-in-out;
    animation-delay: 450ms;
}

.item-header h1 span:nth-child(10) {
    animation: drop-from-above 1s ease-in-out;
    animation-delay: 500ms;
}

.item-header p {
    font-family: 'VT323', monospace;
    font-size: 24pt;
    font-weight: normal;
}

.item-footer p, a {
    font-size: 8pt;
    text-align: center;
}

@keyframes drop-from-above {
    0% {
        color: hsla(0, 50%, 50%, 0);
        transform: translateY(-50px);
    }

    70% {
        color: hsla(0, 47%, 47%, 1);
    }

    100% {
        color: hsla(0, 0%, 0%, 1);
    }
}
